*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #303030;
    padding: 40px;
    color: antiquewhite;
    display: grid;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.cards{
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;

}

.inputpd{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #303030;
    font-weight: bold;
    transition: all ease 0.5s;
}

button:hover{
    background-color: black;
}

.conteudo{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border: #ccc;
}

table th{
    background-color: #303030;
    padding: 1px;
    color: aliceblue;
}

table td img {
    width: 40px;
}